nav {
    background-color: rgb(233, 245, 255);
}
nav li {
    display: inline-block;
    margin: 10px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    margin: 5px;
}

.card-title {
    display: inline-block;
}

.single-user .card {
    margin: auto;
}